#noconnect{
    width: 70%;
    align-content:center;
}
#disconnect{
    text-align:center;
    height: 100% !important;
}
#load{
    width: 70%;
    align-content:center;
}
#loader{
    margin-top: 40px;
    text-align:center;
    height: 100%;
}
#loadText{
    font: bold 2.5em Calibri, Arial, Verdana, sans-serif !important;
    color: #f0f0f0 !important;
    bottom: 0 !important;
    text-align: center !important;
}
#home-display{
     text-align: center;  
}
#home .home-image{
    width: auto;
    height: 250px;
}
.ui-header{
    height: 60px;   
}
/*Icons for left list*/
.t-icon {
    margin-right: 5px;
    /*height: 15px;*/
}
.menuFade{
    opacity: 0.4!important;
}
/*.menuAction{
    left: 80px!important;
    -webkit-transition: all 0.3s ease-out!important;
}*/
#menuNav.ui-btn-active{
    background: none!important;
    border: none!important;
}

#menuNav, #homeNav, #helpNav{
    margin: .5em 0;
    text-decoration: none;
    font: 1.2em Helvetica, Calibri, Arial, Verdana, sans-serif;
    font-weight: 300;
    text-shadow: none;
    color: #00b937;
    color: rgba(0, 170, 50, 0.85);
}
#menuNav img, #homeNav img{
    max-height: 1.5em;
    float: left;
    margin: -.2em 4px;
    /*position: relative;*/
}
.ui-body-c, .ui-overlay-c {
background: #fdfdfd;
background-image: -webkit-gradient(linear, left top, left bottom, from( #fafafa ), to( #fff ));
background-image: -webkit-linear-gradient( #fff , #fafafa );
background-image: -moz-linear-gradient( #fff , #fafafa );
background-image: -ms-linear-gradient( #fff , #fafafa );
background-image: -o-linear-gradient( #fff , #fafafa );
background-image: linear-gradient( #fff , #fafafa );
}

/*Change side-panel color*/
/*.ui-panel{
    background: #fff !important;   
}*/

/*Icons*/

.icon-transferlist, .icon-news, .icon-membership, .icon-coaching, .icon-health, .icon-career, .icon-antidoping, .icon-tax, .icon-transfer, .icon-betting, .icon-agency, .icon-maps{
    background-image: url('../images/list-icons/list-icons.png');
    background-repeat: no-repeat;
    background-size: 17px;
    padding-left: 17px;
    
}
.icon-transferlist{
   background-position: 0 0;    
}
.icon-news{
    background-position: 0 -17px;
       
}
.icon-membership{
    background-position: 0 -34px;
  
}
.icon-coaching{
    background-position: 0 -51px;
}
.icon-health{
    background-position: 0 -68px;
}
.icon-career{
    background-position: 0 -85px;
}
.icon-antidoping{
    background-position: 0 -102px;
}
.icon-tax{
    background-position: 0 -119px;
}
.icon-transfer{
    background-position: 0 -136px;
}
.icon-betting{
    background-position: 0 -153px;
}
.icon-agency{
    background-position: 0 -170px;
}
.icon-maps{
    background-position: 0 -187px;
}

/* Help Pages */
#help .ui-content{
    padding: 15px 0;   
}

.help-left{
    float: left;
    width: 40%;
    padding-left: 10px;
}

.help-right{
    float: right;
    width: 40%;
    text-align: right;
    padding-right: 10px;
}
.help-bottom{
    width: 100%;
    bottom: 60px;
    position: fixed;
    text-align: center;
}
.help-bottom span{
    margin: 5px auto;
}
.help-bottom div:nth-child(1n + 0){
    float: left;
    width: 25%;
}

/* Communications footer on homepage*/
#com{
    left:0;
    bottom: 0;
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 100;
}
#com div a{
    /*display: -webkit-box;
    display: -moz-box;
    display: -o-box;
    display: -ms-box;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-box-pack: center;*/
    /*border-right: 1px solid #bfbfbf*/;
    /*margin-right: -1px;*/
    /*padding: 10px;*/
    height: 60px;
    bottom: 0;
    width: 25%;
    float: left;
    text-decoration: none;
    color: rgb(204, 204, 204);
    text-align: center;
    background: #141414;
    background: rgba(20, 20, 20, .8);
    -webkit-box-shadow: inset 0 0 2px rgba(157, 157, 157, 0.6);
    -moz-box-shadow: inset 0 0 8px rgba(180, 180, 180, 0.6);
    -ms-box-shadow: inset 0 0 8px rgba(180, 180, 180, 0.6);
    box-shadow: inset 0 0 3px rgba(137, 137, 137, 0.6);
}
#com div a span{
    font: .6em Calibri, Arial, Verdana, sans-serif;
    text-decoration: none;
    text-shadow: none;
    margin: 8px 20px;
}
#com div a img{
    margin: 10px 25% 0;
    max-height: 40%;
}

/*Table for Transfer Listed Players*/
table{
    width: 100%;
    text-align: left;
    margin: 5px auto 10px;
    border-spacing: 2px;
    border-collapse: collapse;
}

thead{
    font: bold .9em Helvetica, Calibri, Arial, Verdana, sans-serif !important;
    color: #00b937;
    color: rgba(0, 170, 50, 0.85);
    
}
tr{
    display: table-row;
      
}
th, td{
    display: table-cell;
    padding: 6px 2px;
    border-bottom: 1px solid rgb(200, 200, 200);
}
tbody{
    font: .6em Helvetica, Calibri, Arial, Verdana, sans-serif !important;
    color: #6a6a6a;
    color: rgb(106, 106, 106);   
}

#sectionTitle{
    font: 1em Helvetica, Calibri, Arial, Verdana, sans-serif !important;
    font-weight: 600 !important;
    text-overflow: ellipsis !important;
    padding: 0 !important;
    margin: 10px auto!important;
    text-shadow: none !important;
    color: #484848 !important;
}
#subTitle{
    font: .8em Helvetica, Calibri, Arial, Verdana, sans-serif !important;
    padding: 0 !important;
    margin: 0 auto 5px !important;
    text-shadow: none !important;
    color: #484848 !important;
}
#left-panel span{
    font: .8em Helvetica, Calibri, Arial, Verdana, sans-serif;
}
#left-panel p{
    font: 1.6em Helvetica, Calibri, Arial, Verdana, sans-serif;
    color: rgba(0, 170, 50, 0.85);
    font-weight: 300;
    text-shadow: none;
    margin: 15px auto;
}

.ui-collapsible-heading .ui-btn-text {
    font: .6em Helvetica, Calibri, Arial, Verdana, sans-serif !important;      
}
.media{
    width: 100%;
    height: 100%;
    
}
#logo{
	right: .5em;
    bottom: .5em;
	width: 5em;
	height: 1em;
    position: absolute;
    cursor: pointer;
}
/*.lessonTitle{
	text-align: left;
	font-size: 1em;
	padding-left: 1.5em;
}*/

#homeButton{
	float: right;
}
/*.ui-li-thumb{
    margin-top: 1em;
    opacity: .8;
    position: absolute;
}*/
span{
	white-space: normal;
    font: bold 1.1em Helvetica, Calibri, Arial, Verdana, sans-serif;
}

.lesson .ui-btn-text .ui-li-desc {
    padding-top: .4em;
    padding-left: .5em;
	font: .9em Helvetica, Calibri, Arial, Verdana, sans-serif;
    white-space: normal;
}

.ui-block-a{
    height: 2em;   
}
.ui-input-text.ui-body-c{
	margin: .5em 0;
	padding: 0 .4em;
}

.ui-header .ui-title{
	/*text-align: left !important;*/
	/*min-height: 2.5em;*/
	font: bold 1em Helvetica, Calibri, Arial, Verdana, sans-serif !important;
    /*padding-right: .2em !important;*/
	padding-left: 1em !important;
	margin: .6em 2.5em !important;
	text-overflow: ellipsis !important;
}
/*.ui-header span{
    font: 0.6em Helvetica, Calibri, Arial, Verdana, sans-serif !important; 
    color: rgba(0, 170, 50, 0.85);
}*/
#logButton, #menuButton{
    zoom: 1;   
}
#submit{
    width: 12em;   
}
.ui-icon-nodisc{
    zoom: 1;   
}

/*News Pages*/

.feature img, .static-image{
    width: 80%;
    display: block;
    position: relative;
    margin: 5px auto 10px;
    -webkit-box-shadow: 0 0 5px rgba(111, 111, 111, 0.85);
}
.feature .article-headline{
    margin-top: 0;
    text-align: center;
    font-size: 1.2em;
    font-weight: 300;
    text-shadow: none;   
}
.feature .article-date{
    color: rgba(0, 170, 50, 0.85);
    font-size: 0.7em;
    font-weight: 100;
}
.feature .article-caption{
    font-size: 0.8em;
    text-align: center;
    margin: 0 auto;
}
.feature p, .ui-content p{
        font-size: .8em;
        font-weight: 100;
    }
/*.feature p{
    font: 1em Calibri, Arial, Verdana, sans-serif !important;
}*/

/*#slideLeft{
    -webkit-border-radius: 0 5px 5px 0;
    position:absolute;
    margin-top: 1.2em;
    padding: 1em .2em;
    left:0;
    color: #7b7b7b;
}
#slideRight{
    -webkit-border-radius: 5px 0 0 5px !important;
    position:absolute;
    margin-top: 1.2em;
    padding: 1em .2em;
    right: 0;
    color: #7b7b7b;
}*/
.ui-collapsible-content{
    background: -webkit-linear-gradient(top, #fcfcfc, #ededed) !important;   
}
h1, h2, h3, h4, h5, h6, p{
    font-family: Helvetica, Calibri, Arial, Verdana, sans-serif !important;
}
span .ui-icon .ui-icon-plus{
    zoom: .6;   
}
.ui-link{
    text-decoration:none; 
    background: -webkit-linear-gradient(top, #fafafa, #efefef);
    -webkit-box-shadow: 0 0 2px #4a4a4a;
    border-radius: 5px;
    padding: .2em;
    
}
/*.static-image{
    width: 200px;
    margin: 0 auto;
}*/

#log * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
/* Arrow only buttons in the header. */
/*#log .ui-header .ui-btn {
    background: none;
    border: none;
    top: 9px;
}*/
#log .ui-header .ui-btn-inner {
    border: none;
}
/* Panels */
.ui-panel-inner{
    padding: 5px !important;   
}

/* Maps */
#maps, #mapsContent,.ui-panel-content-wrap.ui-body-c.ui-panel-animate.ui-panel-content-wrap-closed { 
    width: 100%; 
    height: 96.5%; 
    padding: 0; 
}

.app .ui-listview li .ui-btn p {
    color: #939393 !important;
}
.app .ui-listview li .ui-li-aside {
    color: rgb(0, 185, 50) !important;
    width: 30% !important;
}

.app .ui-listview li p {
    color: rgb(183, 183, 183) !important;
}


/* Second breakpoint is 45em (720px). */
@media only screen and ( min-width: 45em ) {
    
    .feature img, .static-image{
    max-width: 60%;
    
    }
    .feature .article-headline{
        font-size: 1.6em;  
    }
    .feature .article-date{
        font-size: .8em;
        
    }
    .feature .article-caption{
        font-size: 1em;
    }
    .feature p, .ui-content p{
        font-size: 1em;
    }
    
    #sectionTitle{
        font-size: 1.4em!important;   
    }
    #subTitle{
        font-size: 1.2em !important;
        /*font-weight: 300;*/
    }
    .ui-header{
        height: 80px;  
    }
    
    #menuNav, #homeNav, #helpNav{
    text-decoration: none;
    font-size: 1.4em;
    }
    
    #left-panel span{
    font-size: 1em;
    }
    #left-panel p{
    font-size: 2.2em;     
    }
    
    .feature img{
    width: 50%;
    }
    #com{
    left:0;
    bottom: 0;
    width: 100%;
    height: 90px;
    position: fixed;
    z-index: 100;
    }
    #com div a{
    height: 90px;
    width: 25%;
    
    }
    #com div a img{
    margin: 10px 30% 0;
    max-width: 50%;
    }
    #com div a span{
    font-size: .8em;
    margin: 8px 30px;
    }
    #maps, #mapsContent,.ui-panel-content-wrap.ui-body-c.ui-panel-animate.ui-panel-content-wrap-closed {  
    height: 97%;
    }
    .app .ui-listview:not(#listLeft) li a.ui-link-inherit{
        min-height: 79px;
        padding-left: 140px;
    }
    .app .ui-listview li a.ui-link-inherit img.ui-li-thumb{
        max-height: 100px;
        max-width: 100px;
    }
    .app .ui-listview li a.ui-link-inherit p.ui-li-desc{
        margin: -.1em 0 .6em;
    }
    
}


/* third breakpoint is 48em (768px). 3 column layout. Tiles 250x250 pixels incl. margin at the breakpoint. */
@media only screen and (min-width: 48em) {
    
    /* Communications footer on homepage*/
    #com div.hide{
    display: none;   
    }
    
    #com{
    height: 110px;
        
    }
    #com div a{
    height: 110px;
    width: 33.3%;
    }
    #com div a img{
        margin: 15px 38% 0;
        max-width: 60%;
    }
    #com div a span{
    font-size: 1em;
    margin: 8px 30px;
    }
    .feature .article-headline{
        font-size: 1.8em;  
    }
    .feature .article-date{
        font-size: 1em;
        
    }
    .feature .article-caption{
        font-size: 1.2em;
    }
    .feature p, .ui-content p{
        font-size: 1.2em;
    }
    
    #menuNav, #homeNav, #helpNav{
    font-size: 1.6em;
    }
    
    #left-panel span{
    font: 1.2em Calibri, Arial, Verdana, sans-serif !important;
    }
    #left-panel p{
    font-size: 2.4em;     
    }
    
    /*Custom Buttons*/
    /*#menuNav img, #homeNav img{
        width: 55px;
    }*/
    /*Tables*/
    
    thead{
    font-size: 1.2em !important;
    }
    
    tbody{
    font-size: 1em !important;
    }
    
    #sectionTitle{
        font-size: 1.6em !important;
    }
    #subTitle{
        font-size: 1.4em !important;
        /*font-weight: 300;*/
    }
    

        /*Icons*/

    .icon-transferlist, .icon-news, .icon-membership, .icon-coaching, .icon-health, .icon-career, .icon-antidoping, .icon-tax, .icon-transfer, .icon-betting, .icon-agency, .icon-maps{
    background-image: url('../images/list-icons/list-icons.png');
    background-repeat: no-repeat;
    background-size: 23px;
    padding-left: 23px;
    
    }
    .icon-transferlist{
       background-position: 0 0;    
    }
    .icon-news{
        background-position: 0 -23px;
           
    }
    .icon-membership{
        background-position: 0 -46px;
      
    }
    .icon-coaching{
        background-position: 0 -69px;
    }
    .icon-health{
        background-position: 0 -92px;
    }
    .icon-career{
        background-position: 0 -115px;
    }
    .icon-antidoping{
        background-position: 0 -138px;
    }
    .icon-tax{
        background-position: 0 -161px;
    }
    .icon-transfer{
        background-position: 0 -184px;
    }
    .icon-betting{
        background-position: 0 -207px;
    }
    .icon-agency{
        background-position: 0 -230px;
    }
    .icon-maps{
        background-position: 0 -253px;
    }
}
/* Samsung Galaxy S3*/
@media only screen and (min-width: 719px) and (max-width: 721px) and (-webkit-min-device-pixel-ratio : 2),
only screen and (min-device-pixel-ratio : 2) {
    
    .ui-header{
        height: 100px;  
    }
    #mainTitle {
    font-size: 2em!important;
    }
    #sectionTitle {
    font-size: 1.8em!important;
    }
    #left-panel p {
    margin: 26px auto;
    }
    #homeList li a.ui-link-inherit{
    padding: 1em 15px!important;
    }
    
    #menuNav, #homeNav, #helpNav{
    text-decoration: none;
    font-size: 2.4em;
    }
    #menuNav img, #homeNav img{
        max-height: 1.5em;
        margin: 0 5px;
        /*position: relative;*/
    }
    
    #left-panel span{
    font-size: 1.2em;
    }
    #left-panel p{
    font-size: 2.4em;     
    }
    
    .feature img{
    width: 50%;
    }
    #com{
    left:0;
    bottom: 0;
    width: 100%;
    height: 120px;
    position: fixed;
    z-index: 100;
    }
    #com div a{
    height: 120px;
    width: 25%;
    
    }
    #com div a img{
    margin: 20px 30% 0;
    max-width: 60%;
    }
    #com div a span{
    font-size: 1.2em;
    margin: 15px 30px;
    }
    /*Icons*/

    .icon-transferlist, .icon-news, .icon-membership, .icon-coaching, .icon-health, .icon-career, .icon-antidoping, .icon-tax, .icon-transfer, .icon-betting, .icon-agency, .icon-maps{
    background-image: url('../images/list-icons/list-icons.png');
    background-repeat: no-repeat;
    background-size: 23px;
    padding-left: 23px;
    
    }
    .icon-transferlist{
       background-position: 0 0;    
    }
    .icon-news{
        background-position: 0 -23px;
           
    }
    .icon-membership{
        background-position: 0 -46px;
      
    }
    .icon-coaching{
        background-position: 0 -69px;
    }
    .icon-health{
        background-position: 0 -92px;
    }
    .icon-career{
        background-position: 0 -115px;
    }
    .icon-antidoping{
        background-position: 0 -138px;
    }
    .icon-tax{
        background-position: 0 -161px;
    }
    .icon-transfer{
        background-position: 0 -184px;
    }
    .icon-betting{
        background-position: 0 -207px;
    }
    .icon-agency{
        background-position: 0 -230px;
    }
    .icon-maps{
        background-position: 0 -253px;
    }
}


/* Fifth breakpoint. 4 column layout. Tiles will be 250x250 pixels again at the breakpoint. */
@media all and (min-width: 1020px){
    
}
/* For this demo we used images with a size of 310x310 pixels. Just before the second breakpoint the images reach their max width: 1019px - 2 x 9px padding = 1001px x 30.9333% = ~310px */